---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Learn
redirect_from: /Learn/home.pml
h1: "Manual, Documentation, Learning Material"
sub: '
  <p>
    Explore seL4 through the range of available educational material, from
    hands-on tutorials and comprehensive documentation to research articles and
    university courses, depending on your specific development goals.
   </p>'
layout: card
---


<div class="card-grid-3">
  {% include card.html
     icon="book-open"
     title="Manual"
     body="The seL4 manual describes the seL4 kernel&apos;s API from a
     user&apos;s point of view, including the seL4 microkernel
     design and a reference of the high-level API exposed by the seL4 kernel to
     userspace."
     link="https://sel4.systems/Info/Docs/seL4-manual-latest.pdf"
  %}

  {% include card.html
     icon="window"
     title="Docsite"
     body="A dedicated docsite for documentation and learning material. The
     docsite is hosted on GitHub and maintained by the community."
     link="https://docs.sel4.systems/"
  %}

  {% include card.html
     icon="puzzle-piece"
     title="Tutorials"
     body="A series of hands-on tutorials that cover the basics of
     seL4, the kernel and core library APIs, user-level frameworks, and
     virtualisation."
     link="https://docs.sel4.systems/Tutorials/"
  %}

  {% include card.html
    icon="document"
    title="Key Publications"
    body="Key research articles about the seL4 technology, its design
    principles, verification, and applications."
    link="../Research/publications.html"
 %}

 {% include card.html
  icon="academic-cap"
  title="Courses"
  body="Courses about seL4-relevant topics: operating systems, microkernels,
  formal methods, software verification."
  link="../Research/courses.html"
  %}

 {% include card.html
  icon="question-mark-circle"
  title="FAQ"
  body="Detailed list of frequently asked questions about seL4, and their
  answers."
  link="../About/FAQ.html"
  %}
</div>


<!-- FIXME: Include card that links to Resources page? -->
<!-- <p>
  If you prefer unstructured learning and want to dive in and explore
  on your own then follow the links on the
  docsite's <a href="https://docs.sel4.systems/Resources">Resources</a> page.
</p> -->

<!-- FIXME: Include card that links to Projects page? -->
<!-- <p>
  After getting a solid seL4 background you can move on to building
  seL4-based systems. Next steps include working on one of
  our <a href="https://docs.sel4.systems/SuggestedProjects.html">suggested
  projects</a> or helping to expand
  the <a href="https://docs.sel4.systems/projects/available-user-components.html">collection
  of libraries and components</a> available to build seL4-based
  systems.
</p> -->


